@use "../abstracts" as *;

.container {
  width: min(calc(100% - 40px), $container);
  margin-inline: auto;
}

@media (max-width: 600px) {
  .container {
    width: min(calc(100% - 28px), $container);
  }
}
