@use "variables" as *;

@mixin container {
  width: min(calc(100% - 40px), $container);
  margin-inline: auto;
}

@mixin card {
  border: 1px solid $line;
  border-radius: 16px;
  background: $surface-2;
}

@mixin tablet {
  @media (max-width: 1100px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 760px) {
    @content;
  }
}
